<div class="bg-white p-3 chart-card">
    <div dir="rtl" class="chart-info d-flex align-items-center justify-content-between">
        <div >
            <p class="fw-bold m-1">إحصائيات إستخدام القسيمة</p>
            <p class="fw-light"> 05 يوليو , 2023 - 5 أغسطس 2023</p>
        </div>
        <div class="bg-btn main-border fs-sm ">
            <p class="btn m-0 ">سنويا 
                <i class="fa-solid fa-angle-down text-body-secondary"></i>
            </p>
        </div>
        
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-12 ">
             <div class="chart-graph w-100 "  id="main" style=" height: 220px;"></div>
            </div>
         </div>
    </div>
   
</div>