.chart-card{
    border-radius: 8px;
}

.bg-btn{
    background-color: rgb(248, 246, 246)
}
.chart-graph{
 
 transform: scale(1.2);
}

 @media (max-width: 1300px) {
    .chart-graph{
        transform: scale(1);
    }
}
 @media (max-width: 900px) {
    .chart-graph{
        width: 100% !important;
        margin:auto;
    }
}
 @media (max-width: 500px) {
    .chart-graph{
        width: 90% !important;
        margin:auto;
    }
}  